<!-- Login -->
Login name: <input type="text" [(ngModel)]="username" /><br />
Password: <input type="text" [(ngModel)]="password" /><br />
<input type="button" value="login" (click)="login()" />
<br /><br />
Token: {{ token }}<br />
Message: {{ message }} <br /><br />

<!-- Gets content for authenticated users only. -->
<input
  type="button"
  value="Get Secure Message"
  (click)="getSecureData()"
/><br />
{{ secureData }}
<br /><br />

<!-- Gets content for managers and admins only. -->
<input
  type="button"
  value="Get Manager Message"
  (click)="getManagerData()"
/><br />
{{ managerData }}<br />
<div *ngIf="reqInfo">
  {{ reqInfo.username }}
  <ul *ngFor="let role of reqInfo.roles">
    {{
      role
    }}
  </ul>
</div>
<br /><br />

<!-- POSTS data to server but only if logged in. -->
<input
  type="button"
  value="Post Secure Message"
  (click)="postSecureMessage()"
/><br />
{{ msgFromServer }}
<br /><br />

<!-- Logs user out. -->
<input type="button" value="Logout" (click)="logout()" />
<br /><br />
